.contact-heading {
@include flexPosition (space-around);

@include response(sm){
    flex-wrap: wrap;
}
}
.inputs-group {
    display: flex;
    justify-content: center;
    @include response(md){
        flex-wrap: wrap;
       }
    input {
        padding: 1rem;
        font-size: size(xs);
        margin: 1rem .5rem;
        border: .1rem solid darken(color(primary), 10%);
        border-radius: .3rem;
        outline: none;
        transition: border .5s;

        &:focus:not([type="submit"]) {
            border: .1rem solid darken(color(quaternary), 30%);  
        }
        &-text {
            width: 50%;
        }
        &-email {
            width: 60%;
        }
        &-btn {
            width: 40%;
            color: color(secondary);
            background-color: lighten(color(primary), 20%);
            transition: background-color .2s;
            
            &:hover {
                background-color: color(primary);
            }
        }
    }
   
}  

