
.cards{
    margin: 20px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        margin: 30px;

        .cardImg{
            width: 100%;
            border: rgb(241, 189, 97);
            border-radius: 10px;
        }

    }
}

